<form method="get" action="{% url 'search' %}">
	<input placeholder="search..." name="q"/>
	<input type="submit" value="Go"/>
</form>
<br/>
<ul class="navmenu">
	<li><a href="{% url 'index' %}">home</a></li>
	<li><a href="{% url 'new_releases' %}">releases</a></li>
	<li><a href="{% url 'about' %}">about</a></li>
	<li><a href="{% url 'contact' %}">contact</a></li>
</ul>

<h5>record stores we like:</h5>
<ul class="navmenu">
	<li><a target="_blank" href="http://bleep.com/">Bleep</a></li>
	<li><a target="_blank" href="http://bm-soho.com">BM Soho</a></li>
	<li><a target="_blank" href="http://boomkat.com/">Boomkat</a></li>
	<li><a target="_blank" href="http://hardwax.com/">Hardwax</a></li>
	<li><a target="_blank" href="http://honestjons.com/">Honest Jon's</a></li>
	<li><a target="_blank" href="http://idlehandsbristol.com/">Idle Hands</a></li>
	<li><a target="_blank" href="http://www.intenserecords.co.uk/">Intense Records</a></li>
	<li><a target="_blank" href="http://juno.co.uk/">Juno Records</a></li>
	<li><a target="_blank" href="http://normanrecords.com/">Norman Records</a></li>
	<li><a target="_blank" href="http://redeyerecords.co.uk">Red Eye Records</a></li>
	<li><a target="_blank" href="http://www.rubadubrecords.co.uk">Rubadub</a></li>
	<li><a target="_blank" href="http://www.scotchbonnet.net">Scotch Bonnet</a></li>
	<li><a target="_blank" href="http://www.seismicrecords.co.uk/">Seismic Records</a></li>
	<li><a target="_blank" href="http://www.unearthedsounds.co.uk/">Unearthed Sounds</a></li>
</ul>