<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />
		<meta charset="utf-8" />
		<title>vinylmaps</title>
	</head>
	<body>
		<div class="main">
			<div class="header">
				<div id="textlogo">
					vinylmaps<br/>
					<span>
						helping you get lost in sound
					</span>
				</div>
			</div>
			<div class="topmenu">
				{% include 'includes/topmenu.html' %}
			</div>
			<div class="nav">
				{% include 'includes/navmenu.html' %}
			</div>
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
			<div class="footer">
				This the footer, I think.<br />
				<br />
				Do not view this website with any shoelaces or sharp objects in your vicinity.<br />
			</div>
		</div>
		<div id="gw2holder">
			<div id="gw2nochar">
			</div>
		</div>
	</body>
</html>