<style>
#sidemenu {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	margin: 10px;
}
	
#sidemenu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
}	
	
#sidemenu li a:link, #sidemenu li a:visited {
	color: #5E7830;
	display: block;
	padding: 8px 0 0 10px;
}
	
#sidemenu li a:hover {
	color: #26370A;
	padding: 8px 0 0 10px;
}
	
#sidemenu li a:active {
	color: #26370A;
	padding: 8px 0 0 10px;
}
#sidemenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
</style>
<div id="sidemenu">
  <ul>
    <li><a href="#1" title="Home">Home</a></li>
    <li><a href="#2" title="About">About</a></li>
    <li><a href="#3" title="Services">Services</a></li>
    <li><a href="#4" title="Portfolio">Portfolio</a></li>
    <li><a href="#5" title="Store">Store</a></li>
    <li><a href="#6" title="Download">Download Menu</a></li>
  </ul>
</div>