{% extends 'includes/page.html' %}
{% block content %}
<p>
<b>Q: Where can I find the FAQ?</b><br/>
A: Our FAQ can be found <a href="{% url 'faq' %}">here</a>.<br/>
<br/>
<b>Q: Where can I add a record that's not listed in here?</b><br/>
A: Check the <a href="{% url 'contact' %}">contact</a> page.<br/>
<br/>
<b>Q: I want to a store that stocks a particular record you have listed. How do I do that?</b><br/>
A: If you go to that specific record you will find an option to include your store link.<br/>
<br/>
</p>
{% endblock %}