{% extends 'includes/page.html' %}
{% block content %}
	<div class="pages">
		{% for i in range %}
			<a href="{%url 'new_releases' %}?page={{i}}">{{i}}</a>
		{% endfor %}
	</div>
	<div id="releasewrapper">
		{% if rec_list %}
			{% for record in rec_list %}
			<div class="releasebox">
				<div class="cover">
					<a href="/records/?record_id={{record.id}}">
						{% if record.cover %}
							<img src="{{record.cover}}"/>
						{% else %}
							<img src="/static/egg.png"/>
						{% endif %}
					</a>
				</div>
				<div class="title">
					<a href="/records/?record_id={{record.id}}">{{record.title}}</a>
				</div>
				<div class="artist">
					{{record.artist}}
				</div>
			</div>
			{% endfor %}
		{% else %}
		No data available<br/>
		<br/>
		{% endif %}
	</div>
{% endblock %}
