{% extends 'includes/page.html' %}
{% load static %}
{% block content %}
	<div class="pages">
		{% for i in range %}
			<a href="{%url 'search' %}?q={{q}}&page={{i}}">{{i}}</a>
		{% endfor %}
	</div>
	<div id="releasewrapper">
		{% if rec_list %}
			{% for record in rec_list %}
			<div class="releasebox">
				<div class="cover">
					<a href="/records/?record_id={{record.0}}">
					{% if record.3 %}
						<img src="{% static record.3 %}"/>
					{% else %}
						<img src="{% static 'egg.png' %}"/>
					{% endif %}
					</a>
				</div>
				<div class="title">
					<a href="/records/?record_id={{record.0}}">{{record.1}}</a>
				</div>
				<div class="artist">
					{{record.2}}
				</div>
			</div>
			{% endfor %}
		{%else%}
			No data available<br/>
			<br/>
		{% endif %}
	</div>
{% endblock %}